# Manipulación de datos
numpy>=1.24.0
pandas>=2.1.0

# Machine Learning
scikit-learn>=1.3.0

# Visualización
matplotlib>=3.8.0
seaborn>=0.12.0

# Para guardar y cargar modelos
joblib>=1.3.0

#Para documentar experimentos y resultados
jupyter>=1.0.0
